.resource-section {
    width: 100vw;
    height: 100vh;
    background: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.resource-section h1 {
    font-size: 60px;
    font-weight: bold;
    margin-right: 30px;
}

.resource-section p {
    font-size: 24px;
    color: #666;
}
